
.parent {
  width : 70%;
  height : 100px;
  display : inline-block;
  margin : 30px auto;
  }
  .parent div {
  display : inline-block;
  width:30%;
  }
  .card-body{
    background-image: linear-gradient(to bottom right, rgb(65, 206, 241), rgb(245, 56, 245));
  }
.title{
  margin-left: 0;
  position: relative; right: 100px;
}
.button{
  position: relative; left: 900px; bottom: 85px;
}
.likes p{
  position: relative; bottom: 20px;
}
.title h4{
  font-size: 1.3rem;
}
/* Style buttons */
.btn-del {
  background-color: transparent;
  border: none; 
  color: red; 
  padding: 12px 16px; 
  font-size: 25px; 
  cursor: pointer;
}
/* Darker background on mouse-over */
.btn-del:hover {
   background-image: linear-gradient(to bottom right, rgb(233, 13, 50), red);
}
/* styling for tablets */
@media only screen and (max-width: 768px) {
  body{
    width: auto;
  }
  .parent div {
    width:30%;
    height: auto;
  }
  .card-body{
    overflow: scroll;
  }
  .title{
    margin-left: 0;
    position: relative; right: 50px;
  }
  .audio-bar{
    position: relative; right:55px;
  }
  .button{
    position: relative; left: 550px; bottom: 85px;
  }
}
/* styling for mobile devices */
@media only screen and (max-width: 425px) {
  .title{
    margin-left: 0;
    position: relative; left: 30px; bottom: 75px;
  }
  .audio-bar{
    position: relative; bottom: 40px;
  }
  .button{
    position: relative; left: 255px; bottom: 96px;
  }
  .btn-del{
    font-size: 15px;
  }
  .likes{
    position: relative; right: 50px;
    margin-top: 5px;
  }
  .card-body {
    width : auto;
    height : auto;
    overflow-y: scroll;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin :auto;
}
.parent div {
  width:auto;
  height: auto;
}
}