.parent {
      width : 70%;
      height : 100px;
      
      display : inline-block;
      margin : 30px auto;
  }
  .parent div {
    display : inline-block;
    width:30%;
    
  }
  .card-body{
    background-image: linear-gradient(to bottom right, rgb(199, 140, 199), green);
  }

.title{
  margin-left: 0;
  position: relative; right: 100px;
}
.button{
  position: relative; left: 900px; bottom: 75px;
}
.likes p{
  position: relative; bottom: 20px;
}
.title h4{
  font-size: 1.25rem;
}
/* Style buttons */
.btn-del {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn-del:hover {
  background-color: red;
}
@media only screen and (max-width: 768px) {
  .title{
    margin-left: 0;
    position: relative; right: 50px;
  }
  .audio-bar{
    position: relative; right:55px;
  }
  .button{
    position: relative; right: 500px; bottom: 60px;
  }
}